---
// Homepage component
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hendry Hu</title>
  </head>
  <body>
    <p>Under construction</p>
    <a href="/percent">Percent (URL) Encoding/Decoding</a>
		</br>
		<a href="/timecalc">Time Calculator</a>
  </body>
</html>
